.contact  {
    width: 100%;
    height: 100%;
    background-color: #455386;
    text-align: center;
}

.contacttitle {
    padding-top: 80px;
    font-size: 35px;
    letter-spacing: 0.1rem;
    padding-bottom: 170px;
    color: white;
}

.contactblock {
    width: 470px;
    height: 50%;
    margin: auto;
}

.contactrow {
    float: left;
    padding-top: 35px;
}

.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding-right: 50px;
}

.contactinfo {
    display: inline-block;
    transform: translateY(-70%);
    font-size: 25px;
    letter-spacing: 0.1rem;
    color: white;
}