.projects  {
    width: 100%;
    height: 100%;
    background-color: #B8C6F9;
}

.projectstitle {
    padding-top: 80px;
    font-size: 35px;
    letter-spacing: 0.1rem;
    padding-bottom: 170px;
    color: rgb(0, 0, 0);
}